.killerapps-table-metaboxes table {
	/*width: 100%;*/
	text-align: center;
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.05);
	background-color: #FFF;
	min-width: 100%;
}
.killerapps-table-metaboxes-input {
	display: none;
}
.killerapps-table-metaboxes .table-wrapper {
	border: 1px solid #DDD;
	width: auto;
	/*max-width: 100%;
	overflow-x: auto;*/
	margin: 16px 0;
	margin: 1.6rem 0;
}
.killerapps-table-metaboxes td {
	border-top: 1px dashed #DDD;
	width: auto;
}
.killerapps-table-metaboxes td, .killerapps-table-metaboxes th {
	border-right: 1px dashed #F0F0F0;
}
.killerapps-table-metaboxes table input.text {
	max-width: 100px;
}
.killerapps-table-metaboxes th, .killerapps-table-metaboxes td {
	padding: 4px;
	padding: 0.4rem;
}
.killerapps-table-metaboxes table .no-rows {
	font-style: italic;
}
.killerapps-table-metaboxes table .no-rows.hide {
	display: none;
}
.killerapps-table-metaboxes .row-template {
	display: none;
}
.killerapps-table-metaboxes .rows-actions {
	width: 50px;
	text-align: center;
	border-right: none;
}
